<h1 class="auto-style1">Conjugador de Verbos da Língua Portuguesa</h1>
<br><br><br><span class="newStyle1">
<div id="layer1"
     style="position: absolute; width: 800px; height: 30px; z-index: 1; left: 300px; top: 100px">
  <%= link_to "verbos regulares comuns da primeira conjugação (-ar)", 'verbosregulares/verbos_regulares_ar' %>
</div>
<br><br><br>
</span><span class="newStyle1"><br>
<div id="layer4"
     style="position: absolute; width: 800px; height: 30px; z-index: 4; left: 300px; top: 150px">

  <%= link_to "verbos regulares comuns da segunda conjugação (-er)", 'verbosregulares/verbos_regulares_er' %>
</div>
<br><br>
</span><span class="newStyle1"><br><br><br>

</span><span class="newStyle1">
<div id="layer2"
     style="position: absolute; width: 800px; height: 30px; z-index: 2; left: 300px; top: 200px">
  <%= link_to "verbos regulares comuns da teceira conjugação (-ir)", 'verbosregulares/verbos_regulares_ir' %>
</div>
<div id="layer3"
     style="position: absolute; width: 800px; height: 30px; z-index: 3; left: 300px; top: 250px">
  <%= link_to "verbos irregulares comuns da primeira conjugação (-ar)", 'verbosirregulares/verbos_irregulares_ar' %>
</div>
<br><br><br>
</span><span class="newStyle1"><br><br><br>
</span><span class="newStyle1"><br>
<div id="layer5"
     style="position: absolute; width: 800px; height: 30px; z-index: 5; left: 300px; top: 300px">
  <%= link_to "verbos irregulares comuns da segunda conjugação (-er)", 'verbosirregulares/verbos_irregulares_er' %>
</div>
<br>
<div id="layer6"
     style="position: absolute; width: 800px; height: 30px; z-index: 6; left: 300px; top: 350px">
  <%= link_to "verbos regulares comuns da teceira conjugação (-ir)", 'verbosirregulares/verbos_irregulares_ir' %>
</div>
<div id="layer7"
     style="position: absolute; width: 800px; height: 30px; z-index: 7; left: 300px; top: 400px">

  <%= link_to "conjugação dos verbos auxiliares mais comuns", 'verbosirregulares/verbosauxiliares' %>


</div>
<br>

</span>
