<p id="notice"><%= notice %></p>

<div id="verb" style="position: absolute; width: 60px; height: 40px; left: 0px; top: 0px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td class="tableheadingstyle"><%= @verb.verb %></td>
    </tr>
  </table>
</div>

<div id="definition" style="position: absolute; width: 500px; height: 40px; left: 70px; top: 0px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td class="tablestyle"><%= @verb.definition %></td>
    </tr>
  </table>
</div>

<div id="gerundio" style="position: absolute; width: 200px; height: 40px; left: 680px; top: 0px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td class="tableheadingstyle">Gerúndio</td><td class="tablestyle"><%= @verb.gerundio %></td>
    </tr>
  </table>
</div>

<div id="participio" style="position: absolute; width: 200px; height: 40px; left: 940px; top: 0px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td class="tableheadingstyle">Particípio</td><td class="tablestyle"><%= @verb.participio %></td>
    </tr>
  </table>
</div>

<div id="pres" style="position: absolute; width: 320px; height: 90px; left: 0px; top: 50px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td colspan="2" class="tableheadingstyle">Presente do Indicativo</td>
    </tr>
    <tr>
      <td class="tablestyle">Eu <%= @verb.pres_eu %></td>
      <td class="tablestyle">Nós <%= @verb.pres_nos %></td>
    </tr>
    <tr>
      <td class="tablestyle">Ele <%= @verb.pres_ele %></td>
      <td class="tablestyle">Eles <%= @verb.pres_eles %></td>
    </tr>
  </table>
</div>

<div id="imp" style="position: absolute; width: 320px; height: 90px; left: 0px; top: 150px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td colspan="2" class="tableheadingstyle">Pretérito Imperfeito do Indicativo</td>
    </tr>
    <tr>
      <td class="tablestyle">Eu <%= @verb.imp_eu %></td>
      <td class="tablestyle">Nós <%= @verb.imp_nos %></td>
    </tr>
    <tr>
      <td class="tablestyle">Ele <%= @verb.imp_ele %></td>
      <td class="tablestyle">Eles <%= @verb.imp_eles %></td>
    </tr>
  </table>
</div>

<div id="pret" style="position: absolute; width: 320px; height: 90px; left: 0px; top: 250px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td colspan="2" class="tableheadingstyle">Pretérito Perfeito do Indicativo</td>
    </tr>
    <tr>
      <td class="tablestyle">Eu <%= @verb.pret_eu %></td>
      <td class="tablestyle">Nós <%= @verb.pret_nos %></td>
    </tr>
    <tr>
      <td class="tablestyle">Ele <%= @verb.pret_ele %></td>
      <td class="tablestyle">Eles <%= @verb.pret_eles %></td>
    </tr>
  </table>
</div>

<div id="fut" style="position: absolute; width: 320px; height: 90px; left: 0px; top: 350px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td colspan="2" class="tableheadingstyle">Futuro do Indicativo</td>
    </tr>
    <tr>
      <td class="tablestyle">Eu <%= @verb.fut_eu %></td>
      <td class="tablestyle">Nós <%= @verb.fut_nos %></td>
    </tr>
    <tr>
      <td class="tablestyle">Ele <%= @verb.fut_ele %></td>
      <td class="tablestyle">Eles <%= @verb.fut_eles %></td>
    </tr>
  </table>
</div>

<div id="cond" style="position: absolute; width: 320px; height: 90px; left: 0px; top: 450px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td colspan="2" class="tableheadingstyle">Condicional</td>
    </tr>
    <tr>
      <td class="tablestyle">Eu <%= @verb.cond_eu %></td>
      <td class="tablestyle">Nós <%= @verb.cond_nos %></td>
    </tr>
    <tr>
      <td class="tablestyle">Ele <%= @verb.cond_ele %></td>
      <td class="tablestyle">Eles <%= @verb.cond_eles %></td>
    </tr>
  </table>
</div>

<div id="pres_sub" style="position: absolute; width: 360px; height: 90px; left: 320px; top: 50px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td colspan="2" class="tableheadingstyle">Presente do Subjuntivo</td>
    </tr>
    <tr>
      <td class="tablestyle">Que eu <%= @verb.pres_sub_eu %></td>
      <td class="tablestyle">Que nós <%= @verb.pres_sub_nos %></td>
    </tr>
    <tr>
      <td class="tablestyle">Que ele <%= @verb.pres_sub_ele %></td>
      <td class="tablestyle">Que eles <%= @verb.pres_sub_eles %></td>
    </tr>
  </table>
</div>

<div id="imp_sub" style="position: absolute; width: 360px; height: 90px; left: 320px; top: 150px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td colspan="2" class="tableheadingstyle">Pertérito Imperfeito do Subjuntivo</td>
    </tr>
    <tr>
      <td class="tablestyle">Que eu <%= @verb.imp_sub_eu %></td>
      <td class="tablestyle">Que nós <%= @verb.imp_sub_nos %></td>
    </tr>
    <tr>
      <td class="tablestyle">Que ele <%= @verb.imp_sub_ele %></td>
      <td class="tablestyle">Que eles <%= @verb.imp_sub_eles %></td>
    </tr>
  </table>
</div>

<div id="fut_sub" style="position: absolute; width: 360px; height: 120px; left: 320px; top: 350px" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td colspan="2" class="tableheadingstyle">Futuro do Subjuntivo</td>
    </tr>
    <tr>
      <td class="tablestyle">Quando eu <%= @verb.fut_sub_eu %></td>
      <td class="tablestyle">Quando nós <%= @verb.fut_sub_nos %></td>
    </tr>
    <tr>
      <td class="tablestyle">Quando ele <%= @verb.fut_sub_ele %></td>
      <td class="tablestyle">Quando eles <%= @verb.fut_sub_eles %></td>
    </tr>
  </table>
</div>

<div id="sent" style="position: absolute; width: 460px; height: 490px; left: 680px; top: 50px;" class="divstyle">
  <table style="width: 100%" class="tablestyle">
    <tr>
      <td class="tableheadingstyle">Frases</td>
    </tr>
    <tr>
      <td class="tablestyle"><%= @verb.sent1.html_safe %></td>
    </tr>
    <tr>
      <td class="tablestyle"><%= @verb.sent2.html_safe %></td>
    </tr>
    <tr>
      <td class="tablestyle"><%= @verb.sent3.html_safe %></td>
    </tr>
    <tr>
      <td class="tablestyle"><%= @verb.sent4.html_safe %></td>
    </tr>
  </table>
</div>
